<div id="header" slot="header">
  <div class="header-logo">
    <a href="/">
      <img
        alt="GST"
        style="margin: -12px"
        width="42"
        height="42"
        src="src/images/logo96.png"
      />
    </a>
  </div>

  <div class="header-title">
    <a href="/">
      <span id="cockpit-header">Cockpit</span>
    </a>
  </div>

  <div class="header-item">
    <a href="/notice2mariners" class="active"> NMjob </a>
  </div>

  <div class="header-item">
    <a href="/correction" class="active"> Dokjob </a>
  </div>

  <div class="header-item">
    <a href="/globalchange" class="active"> GlobalChanges </a>
  </div>

  <div
    class="header-item"
    style="cursor: default; user-select: none; font-size: large"
  >
    |
  </div>

  <div class="header-item">
    <a href="/enc" class="active"> ENCs </a>
  </div>

  <div class="header-item">
    <a href="/harbourplan" class="active"> Havnelodsplaner </a>
  </div>

  <div class="header-item">
    <a href="/havnelods" class="active"> Havnelods </a>
  </div>

  <div style="margin-left: auto" class="header-item">
    <a
      title="Confluence link"
      target="_blank"
      href="https://geodatastyrelsen.atlassian.net/wiki/spaces/ENI/pages/5161812299/Cockpit"
    >
      ?
    </a>
  </div>
</div>
