<div id="header" slot="header">
  <div class="header-left">
    <img alt="GST" width="42" height="42" src="src/images/logo96.png" />
  </div>

  <div class="header-center">
    <span id="cockpit-header">Product Manager</span>
  </div>

  <div class="header-right">
    <div class="notification-wrapper">
      <calcite-action
        id="notification-button"
        icon="bell"
        text="Notifications"
        scale="m"
      ></calcite-action>

      <span id="notification-count"></span>
    </div>

    <calcite-action
      id="documentation-button"
      icon="question"
      text="Documentation"
      scale="m"
    ></calcite-action>
  </div>
</div>
