<div id="header" slot="header">
  <div class="header-left">
    <img alt="GST" width="42" height="42" src="src/images/logo96.png" />
  </div>

  <div class="header-center">
    <span id="cockpit-header">Product Manager</span>
  </div>

  <div class="header-right">
    <!-- Last updated -->
    <span
      id="last-updated"
      class="ms-2 text-muted"
      style="font-size: 12px; color: white !important"
    >
      Updated: -
    </span>
    <!-- Refresh button -->
    <calcite-action
      id="refresh-button"
      icon="refresh"
      text="Refresh data"
      scale="m"
    ></calcite-action>

    <!-- Auto refresh toggle -->
    <div class="d-flex align-items-center">
      <calcite-switch id="auto-refresh-switch" checked></calcite-switch>

      <calcite-tooltip reference-element="auto-refresh-switch" style="z-index: 9999">
        Automatically refreshes every 10 minutes
      </calcite-tooltip>
    </div>
    <div class="notification-wrapper">
      <calcite-action
        id="notification-button"
        icon="bell"
        text="Notifications"
        scale="m"
      ></calcite-action>

      <span id="notification-count"></span>
    </div>

    <calcite-action
      id="documentation-button"
      icon="question"
      text="Documentation"
      scale="m"
    ></calcite-action>
  </div>
</div>
