VITE_ARCGIS_PORTAL_URL=https://www.arcgis.com
VITE_AOI_FEATURE_SERVICE_URL=https://example.com/arcgis/rest/services/aois/FeatureServer/0
VITE_WORK_STREAM_MAP_SERVICE_URL=https://example.com/arcgis/rest/services/work-streams/MapServer
